<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="./tabstyle.css">
	<script src="./vue.js"></script>
	<script src="http://s.thsi.cn/cb?js/m/common/zepto.js"></script>
</head>
<body>

<div class="app">
	<tab @msg="getFunc" :options="tabInit"></tab>
</div>
<div class="app2">
	<tab :options="tabInit"></tab>
</div>

<template style="display:none;" id="template">
	<div>
		<ul :class="options.tabClass">
			<template v-for="i in options.navlength">
				<li :class="[options.navClass,options.navClass+i]" @click="navClick(i)">
					nav{{i}}
				</li>
			</template>
		</ul>
		<template v-for="j in options.navlength">
			<div v-show="j == active ? true :false" :class="[options.contentClass,options.contentClass+j]">
				content{{j}}
			</div>
		</template>
	</div>
</template>

<script>
	Vue.component('tab',{
		template:'#template',
		data:function(){
			return {
				active:this.options.show
			}
		},
		props:{
			options:{
				tabClass:{/*tabClass*/
					type:String,
					default:'tab'
				},
				contentClass:{/*tabClass*/
					type:String,
					default:'tab_content'
				},
				navClass:{/*导航Class*/
					default:'tab_nav'
				},
				navlength:{/**/
					type:Number,
					required:true,
					default:1
				},
				show:{/**/
					type:Number,
					required:true,
					default:1
				},
			}
		},
		mounted(){
			console.log(this.active);
		},
		computed:{
			
		},
		methods:{
			navClick(index){
				this.active = index;
				this.$emit('msg',index);
			}
		}
	});


	var vm = new Vue({
		el:'.app',
		data:{
			tabInit:{
				navlength:3,
				navClass:'newtab_nav',
				contentClass:'tab_content',
				show:1
			},
			cc:1
		},
		methods:{
			getFunc(msg){
				this.cc = msg;
			}
		}
	});


	var vm2 = new Vue({
		el:'.app2',
		data:{
			tabInit:{
				navlength:3,
				navClass:'newtab_nav',
				contentClass:'tab_content',
				show:1
			}
		}
	});


	vm2.$on('navClick', function (id) {
		console.log(this.active)
	})
</script>

</body>
</html>